$cor : 'Cormorant SC', serif;
$quotes : 'screen and (min-width: 344px)';
$head_expand : 'screen and (min-width: 425px)';
$two_col : 'screen and (min-width: 674px)';
$col_gap_expand : 'screen and (min-width: 960px)';
$upsize_text : 'screen and (min-width: 1447px)';
$four_cols : 'screen and (min-width: 1823px)';
$six_cols : 'screen and (min-width: 2198px)';
$big : 'screen and (min-width: 3000px)';
$por : 'screen and (orientation: portrait)';
$blue : #1a1aff;
$yellow : #fafad2;
$bord : 2px solid transparent;
